[device]
; this is implicitly used as a name for output files: J212.oc and J212.tc
name=J212
; maximum drain current
; used as a current limit in power supply
idmax=0.2
; maximum gate current
; used as a current limit in power supply
igmax=0.01

[ps]
; device type
type=nge103b
; device address, IP or domain name
addr=<IP>
; channel number connected to drain and source terminals
vds_chno=1
; channel number connected to gate and source terminals
; it is assumed the connection is reverse: ie if positive X volts is set
; negative X volts is applied as Vgs
vgs_chno=2
; after the device is powered, wait X seconds before measurement
; this is for stabilization, it needs to be determined by trial and error
delay_after_ps_on=0.2

[daq]
; device type
type=daq6510
; device address, IP or domain name
addr=<IP>
; channel number measuring drain-source voltage
vds_chno=101
; channel number measuring gate-source voltage (it will be negative)
vgs_chno=102
; channel number measuring drain current
id_chno=122
; channel number thermocouple is connected
t_chno=111
; thermocouple type
; it can be B, E, J, K, N, R, S, T for DAQ6510
tc_type=T
; channel number to be watched (displayed) on the screen of DAQ6510
watch_chno=111

[test.oc]
; output characteristic is generated for each Vgs value specified below
; by sweeping the Vds specified below
; list of vgs values separated by comma
; these are power supply values, hence positive
; power supply has to be connected reverse to JFET
vgs=4,3,2,1,0
; Vds sweep specification
; start fine_stop fine_step stop step
; it starts and increments by fine_step until fine_stop
; then continues incrementing by step until stop
; this is to have more data when the curve is more curved
; start has to be less than stop, vds is sweeped from a low value to a high value
vds=0,3,0.5,20,1
; thermocouple control
; when t > tmax, power is turned off to cool down until temp is < tcon
; do not set tcon too low (e.g. 20) to a value impossible to reach
; probably you would not want to set tmax to device maximum rating but a safer value (e.g. 80)
tmax=80
tcon=40

[test.tc]
; transfer characteristic is generated for each Vds value specified below
; by sweeping the Vgs specified below
; list of vds values separated by comma
vds=15 
; start fine_stop fine_step stop step
; similar to vds in test.oc
; in reality, it is sweeped from a low value (e.g. -4V) to a high value (e.g. 0V)
; but because power supply is connected reverse to JFET
; it looks like here it is sweeped from a high value (e.g. 4V) to a low value (e.g. 0V)
; thus it is decremented not incremented, start has to be larger than stop
vgs=4,3,0.1,0,0.25
; thermocouple control
; same as in test.oc
tmax=80
tcon=40
